<%# app/views/oplata/_table_header.html.erb %>
<div class="grid grid-cols-5 gap-4 px-4 py-2 bg-gray-50 border-b border-gray-200 text-xs font-semibold uppercase tracking-wider text-gray-500">
  <div>Дата</div>
  <div class="col-span-2">Название</div>
  <div>Длительность</div>
  <div class="text-right">Действия</div>
</div>