<% content_for :title, "Новый платеж" %>

<div class="md:w-2/3 w-full mt-8">
  <h1 class="font-bold text-3xl mb-6">Новый платеж</h1>

  <%= render "form", oplatum: @oplatum %>

  <div class="mt-6">
    <%= link_to "← Обратно к платежам", oplata_path, class: "w-full sm:w-auto text-center rounded-md px-4 py-2.5 bg-gray-100 hover:bg-gray-200 inline-block font-medium text-sm transition duration-200" %>
  </div>
</div>